.about-title {
    color: var(--accent-color);
}

main.main {
    gap: 0;
}

.about-content {
    background: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    overflow: hidden;
}

.article-content {
    margin: var(--card-padding) 0;
    color: var(--card-text-color-main);
}