{{- $context := .Context -}}
{{- $limit := 5 -}}
<section class="widget categoryCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "categories" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h2>

    <div class="categoryCloud-tags">
        {{ range first $limit $context.Site.Taxonomies.categories.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
                <span class="count">{{ .Count }}</span>
            </a>  
        {{ end }}
    </div>
</section>
